/**
 * Uberlike theme for reveal.js.
 * Author: Kiril Knysh
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Solarized colors
$black: #000;
$white: #fff;
$safety: #0070fa;
$yellow: #ffc043;
$green: #47b275;
$purple: #7656be;

// Override theme settings (see ../template/settings.scss)
$mainFont: Helvetica Neue, sans-serif;
$headingFont: Helvetica Neue, sans-serif;
$headingFontWeight: 600;
$headingTextTransform: none;
$mainColor: $white;
$headingColor: $white;
$headingTextShadow: none;
$backgroundColor: $black;
$linkColor: $purple;
$linkColorHover: lighten( $purple, 20% );
$selectionBackgroundColor: $purple;

$heading1Size: 1.4em;
$heading2Size: 1.1em;
$heading3Size: 1.1em;
$heading4Size: 1.0em;

.reveal {
	a {
		text-decoration: underline!important;
	}

	.emphasis {
		color: $green;
	}

	.slides section {
		.fragment.highlight-emphasis {
			opacity: 1;
			visibility: inherit;

			&.visible {
				color: $green;
			}
		}

		blockquote {
			width: 85%;

			.cite {
				text-align: right;
			}
		}
	}

	.pros {
		color: #2cab49;
	}
	.cons {
		color: #a52626;
	}

	.strikeout {
		text-decoration: line-through;
		text-decoration-color: #d33682;
	}

	.huge {
		font-size: 7em;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
	font-weight: 300;

	ul {
		list-style-type: none;

		li {
			padding: .3em .5em;
			border-style: solid;
			border-width: 1px 0;
			border-color: darken( $purple, 30% );

			&:not(:first-child) {
				border-top-width: 0;
			}
		}
	}
}
